@model EyeCT4RailzMVC.Models.Tram

@{
    ViewBag.Title = "Trammerino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tram</h2>

@using (Html.BeginForm("Edit", "Tram", Model))
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lengte)
            </dt>

            <dd>
                @Html.EditorFor(model => model.Lengte, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TramNr)
            </dt>

            <dd>
                @Html.EditorFor(model => model.TramNr, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                {
                    new SelectListItem {Text= "Dienst", Value = "Dienst" },
                    new SelectListItem {Text= "Remise", Value = "Remise" },
                    new SelectListItem {Text= "Schoonmaak", Value = "Schoonmaak" },
                    new SelectListItem {Text= "Onderhoud", Value = "Onderhoud" },
                    new SelectListItem {Text= "Service Nodig", Value = "ServiceNodig" },
                    new SelectListItem {Text= "Schoonmaak Nodig", Value = "SchoonmaakNodig" }
                }, new { @class = "form-control" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConducteurGeschikt)
            </dt>

            <dd>
                @Html.EditorFor(model => model.ConducteurGeschikt, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Beschikbaar)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Beschikbaar, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Vervuild)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Vervuild, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Defect)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Defect, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</p>
