@using System.Activities.Statements
@using EyeCT4RailzMVC.Models
@model EyeCT4RailzMVC.Models.SchoonmaakBeurt
@{
    ViewBag.Title = "AddSchoonmaakbeurt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Nieuwe schoonmaakbeurt</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    UserRepository userRepo = new UserRepository(new MssqlUserLogic());
    List<User> users = userRepo.ListUsers();
    users.RemoveAll(user => user.Rol != UserType.Schoonmaker);

        foreach (var user in users)
    {
        selectListItems.Add(new SelectListItem
        {
            Text = user.Naam,
            Value = user.Naam
        });
    }

   <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Medewerkernaam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Film", selectListItems)
                @Html.ValidationMessageFor(model => model.Medewerkernaam, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TramId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TramId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TramId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EindDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EindDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EindDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, new List<SelectListItem>
                {
                    new SelectListItem {Text= "Grote schoonmaak", Value = "SchoonmaakGroot" },
                    new SelectListItem {Text= "Kleine schoonmaak", Value = "SchoonmaakKlein" }
                }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start schoonmaakbeurt" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Terug naar schoonmaakoverzicht", "Schoonmaakoverzicht")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
